* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #090e1a;
    background-image:
        url('./img/bg2.png');
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', monospace;
    overflow: hidden;
}

canvas {
    display: block;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    box-shadow:
        0 0 0 2px rgb(255, 217, 0)
        
}
