*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2b2b2b;
    color: white;
}

.grid-template{
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    min-height: 100vh;
}

canvas{ 

    margin: auto;
    background: gray;
}

